*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

html, body{
  height: 100%;
  width: 100%;
  /* background-color: rgb(37, 34, 34); */
  /* color: aliceblue; */
}

input, button{
  padding: 10px 20px;
  margin: 10px;
  font-size: 25px;
}